<a href="https://colab.research.google.com/github/yujie166/phythons/blob/main/item.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

fruits = ["apple", "banana", "orange"]


print(fruits[0])


fruits[1] = "grape"
print(fruits)


fruits.append("kiwi")
print(fruits)


print(len(fruits))

for fruit in fruits:
    print(fruit)

apple
['apple', 'grape', 'orange']
['apple', 'grape', 'orange', 'kiwi']
4
apple
grape
orange
kiwi

In [ ]:

person = ("John", 25, "USA")


print(person[0])


name, age, country = person
print(name, age, country)

John
John 25 USA

In [ ]:

person = {"name": "John", "age": 25, "country": "USA"}

print(person["name"])
person["age"] = 30
print(person)
person["city"] = "New York"
print(person)
del person["country"]
print(person)
for key, value in person.items():
    print(key, value)

John
{'name': 'John', 'age': 30, 'country': 'USA'}
{'name': 'John', 'age': 30, 'country': 'USA', 'city': 'New York'}
{'name': 'John', 'age': 30, 'city': 'New York'}
name John
age 30
city New York